@charset "UTF-8";

html, body {
	padding: 0;
	margin: 0;
}

.bg {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('../image/gidle.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: black;
	min-height: 100%;
	overflow: auto;
}

.logo {
	height: 100px;
	padding: 30px;
}

ul {
	list-style-type: none;
	width: 80%;
	margin: auto;
}

li {
	padding: 10px 0px 40px 0px;
	width: 33%;
	text-align: center;
	float: left;
}

a {
	color: white;
	text-decoration: none;
	font-size: 25px;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: white;
}

.album {
	width: 70%;
	height: 70%;
}

.album:hover {
	filter: brightness(50%);
}

h1 {
	text-align: center;
	color: white;
	font-size: 50px;
	margin: 0 0 70px 0;
} 