@charset "UTF-8";

html, body {
	margin: 0;
	text-align: center;
	background-color: #E4E3E3;
}

ul {
	margin: 0;
	display: flex;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

p {
	text-align: left;
}

.shadow {
	box-shadow: 0 .15rem .35rem rgba(0, 0, 0, .1) !important;
}

.mainMenu {
	background-color: #343a40;;
}

.mainMenu>li:first-child {
	font-size: 30px;
}

.mainMenu>li {
	margin: 10px;
	padding: 5px 10px;
	list-style: none;
	text-align: center;
	line-height: 40px;
}

.mainMenu>li:hover {
	background-color: #5E6975;
	border-radius: 5px;
}
.mainMenu>li.info>ul.sub{
	display: none;
}
.mainMenu>li.info>ul.sub:hover {
	background-color: #5E6975;
	border-radius: 5px;
	display: block;
}

.mainMenu>li>a {
	color: white;
}

.menu {
	padding: 0;
	background-color: white;
	height: 50px;
}

.menu>li {
	margin: auto;
	padding: 10px 20px;
}

.menu>li:hover {
	background-color: #E9E9E9;
	border-radius: 10px;
}

.menu>li>a {
	font-size: 18px;
}

.community {
	text-align: center;
}

#logo {
	height: 300px;
	padding: 30px;
}

.container {
	padding: 10px 200px 10px 200px;
}

.container>ul {
	padding: 0;
}

.container>ul>li {
	margin: auto;
}

.container>ul>li:hover {
	filter: brightness(50%);
}

.announcement, .feed {
	margin: 10px 180px;
	background-color: white;
	padding: 5px;
	border-radius: 10px;
}

.userIcon {
	width: 32px;
	height: 32px;
	margin: 10px;
}

.seeAllLink {
	margin-top: 1rem!important;
	margin-bottom: 1rem!important;
	display: block;
	text-align: right;
}

.seeAllLink > a {
	padding-right: 10px;
	padding-bottom: 10px;
}