  @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
#logo{
	height: 160px;
	padding: 30px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jua', sans-serif;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1); 
}

.signup {
  width: 550px;
  height: 850px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.bg {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('../image/gidle.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	min-height: 100%;
}

h2{
  margin-bottom: 1em;
  color: tomato;
  font-size: 35px;
}

.signup_id {
  margin-top: 20px;
  width: 80%;
}

.signup_id input{
  width: 320px;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.idcheck{
	width: 100px;
	height: 50px;
	margin-left: 5px;
}
.idcheck input{
	width: 100px;
	height: 50px;
	border-radius: 15px;
	padding: 0px 15px;
	border: 1px solid lightgray;
	outline: none;
	font-size: 1em;
	 background: linear-gradient(to left, rgb(235, 0, 41), rgb(94, 13, 139)); 
	color: white;
}

.signup_pw {
  margin-top: 20px;
  width: 80%;
}

.signup_pw input{
  width: 320px;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.signup_pw1 {
  margin-top: 20px;
  width: 80%;
}

.signup_pw1 input{
  width: 320px;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.signup_name {
  margin-top: 20px;
  width: 80%;
}

.signup_name input{
  width: 320px;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.namecheck{
	width: 100px;
	height: 50px;
	margin-left: 5px;
}
.namecheck input{
	width: 100px;
	height: 50px;
	border-radius: 15px;
	padding: 0px 15px;
	border: 1px solid lightgray;
	outline: none;
	font-size: 1em;
	 background: linear-gradient(to left, rgb(235, 0, 41), rgb(94, 13, 139)); 
	color: white;
}

.signup_email {
  margin-top: 20px;
  width: 80%;
}

.signup_email input{
  width: 430px;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.signup_submit {
  margin-top: 50px;
  width: 80%;
  
}
.signup_submit input{
  width: 200px;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 40px;
  background: linear-gradient(to left, rgb(235, 0, 41), rgb(94, 13, 139)); 
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
  margin-left: 135px;
}