  @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
html, body {
	padding: 0;
	margin: 0;
}

.bg {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('../image/gidle.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: black;
	min-height: 100%;
	overflow: auto;
}

.logo {
	height: 100px;
	padding: 30px;
}



.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1); 
}

.adminupdate {
  width: 600px;
  height: 950px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}



h2{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: tomato;
  font-size: 35px;
}

.update_id {
  margin-top: 10px;
  width: 80%;
}

.update_id input{
  width: 300px;
  height: 30px;
  border-radius: 30px;
  margin-top: 5px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
  color: red;
}

.idcheck{
	width: 100px;
	height: 50px;
	margin-left: 5px;
}
.idcheck input{
	width: 100px;
	height: 50px;
	border-radius: 15px;
	padding: 0px 15px;
	border: 1px solid lightgray;
	outline: none;
	font-size: 1em;
	 background: linear-gradient(to left, rgb(235, 0, 41), rgb(94, 13, 139)); 
	color: white;
	cursor: pointer
}

.update_pw {
  margin-top: 20px;
  width: 80%;
}

.update_pw input{
 width: 300px;
  height: 30px;
  border-radius: 30px;
  margin-top: 5px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.update_pw1 {
  margin-top: 20px;
  width: 80%;
}

.update_pw1 input{
 width: 300px;
  height: 30px;
  border-radius: 30px;
  margin-top: 5px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.update_name {
  margin-top: 20px;
  width: 80%;
}

.update_name input{
  width: 300px;
  height: 30px;
  border-radius: 30px;
  margin-top: 5px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.namecheck{
	width: 80px;
	height: 30px;
	margin-left: 5px;
}
.namecheck input{
	width: 100px;
	height: 50px;
	border-radius: 15px;
	padding: 0px 15px;
	border: 1px solid lightgray;
	outline: none;
	font-size: 1em;
	 background: linear-gradient(to left, rgb(235, 0, 41), rgb(94, 13, 139)); 
	color: white;
	cursor: pointer
}

.update_email {
  margin-top: 20px;
  width: 80%;
}

.update_email input{
 width: 300px;
  height: 30px;
  border-radius: 30px;
  margin-top: 5px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.update_joindate {
  margin-top: 20px;
  width: 80%;
}

.update_joindate input{
 width: 300px;
  height: 30px;
  border-radius: 30px;
  margin-top: 5px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
  color: red;
}

.update_grade {
  margin-top: 20px;
  width: 80%;
}

.grade{
  width: 300px;
  height: 30px;
  margin-top: 5px;
  padding: 0px 10px;
  border: 1px solid lightgray;
  outline: none;
}

.grade1{
	color: red;
}

.update_replynum {
  margin-top: 20px;
  width: 80%;
}

.update_replynum input{
 width: 300px;
  height: 30px;
  border-radius: 30px;
  margin-top: 5px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
  color: red;
}

.update_articlenum {
  margin-top: 20px;
  width: 80%;
}

.update_articlenum input{
  width: 300px;
  height: 30px;
  border-radius: 30px;
  margin-top: 5px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
  color: red;
}

.update_submit {
  margin-top: 50px;
  width: 80%;
  
}
.update_submit input{
  width: 200px;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 40px;
  background: linear-gradient(to left, rgb(235, 0, 41), rgb(94, 13, 139)); 
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
  margin-left: 135px;
  margin-bottom: 30px;
  cursor: pointer
}